// Define variables for your color scheme

// For example:

$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #cd5b2e;
$green: #34ea53;
$gray: #1a1a1a;
$light-gray: #f4f4f4;

$menu-bg: #dd511a;
$main-bg: #1d1610;
$text-1: hsl(0, 0%, 98%);
$text-2: #dd511a;

