<h1>Bonjour <%= @user.username %></h1>

<p>
 Ficamos feliz de ter vcs ao lado da gente.
 Ficamos na disposição de vc por toda pedida
 de informações adicionais sobre nossas bandas
</p>

<p>
 Gratidão
 JoA Azria
 +55 21 99699 5765
</p>
