<h1>10 anos de Ativismo culturais</h1>

<p>10 anos no Brasil, levando a bandeira das artes e da cultura
a  rua sendo nossa a inspiração desde sempre </p>

<ul>
  <li>festival de rua </li>
  <li>street art</li>
  <li>circo de rua </li>
  <li>carnaval de rua do rio de bh e sp</li>

</ul>

</ul>


<h1>10 anos de parcerias</h1>

<ul>
  <li>Circo Voador</li>
  <li>Fundição Progresso</li>
  <li>RecBeat</li>
  <li>Mimo Festival</li>
  <li>Alliance Française </li>

</ul>


<h1>10 anos e muitos mais eventos </h1>

<p>Exos Performances Projects // Les Touffes Chretiennes // Karpatt // Nour // Trip In // Isa Rose … 07.11.13_Alpha Blondy_Circo Voador - RJ // Cidade Verde _ Circo Voador - RJ // 09.11.13_Keziah Jones_Baile Perfumado - PE // 15.11.13_Keziah Jones_Back 2 Black - RJ // 21.11.2013_Tony Allen X Abayomy_ Circo Voador - RJ  // 23.11.2013??_??Orquestra Voadora _ Conexão - BH //14.05.2015 Orquestra Brasileira de Musica Jamaicana, Alpha Blondy & Mark Kelly_ Audio Club  - SP // 15.05.2015 Alpha Blondy & Mark Kelly_ Music Hall  - BH // 21.05.2015 Alpha Blondy & Mark Kelly_Araujo Viana - POA // 22.05.2015 Mark Kelly & Dub Ataque & Alpha Blondy_Circo Voador - RJ // 23.05.15 Alpha Blondy _Virada Cultural Bauru - SP  // 24.05.15_Alpha Blondy_Virada Cultural Paulista Limeira - SP // 25&26.04.15 Mark Kelly & Keziah Jones & Iconili & Gypsy Sound System _ Nomade Festival (Net) - BH // 28.07.15 Mark Kelly & Keziah Jones _ Bourbon Street Music - SP // 29.07.15 _ Mark Kelly _Bistrot Les Amis - RJ //26.03.2015 Bastian Baker _ CCBB _ Brasilia - DF // 22.03.15 ZAZ convida Tulipa Ruiz + Ceu <3 Circuito São Paulo de Cultura _ Parque Auditório Ibirapuera - SP // 20.03.15 ZAZ part. Bastian Baker _ Circo Voador - RJ // 24&25.03.15  ZAZ_Bourbon Street Club - SP // 27.03.15 ZAZ_Teatro Ópera Arame - Curitiba //28.03.15 ZAZ_Music Hall - BH // 27.03.15 Iconili _ SESC Palladium - BH // 17.02.15 Keziah Jones & Nneka _ Festival Rec-Beat - PE // 16.02.15 Keziah Jones & Nneka _ Cordão do Boitatá - Carnaval - RJ // 17/06/15_Bastian Baker_ #festivalarteleblon - RJ  //20.06.15_Dr Swing_ #festivalarteleblon - RJ // 26.06.15_Mark Kelly_Bistrot Les Amis - RJ //21.06.15_Dr Swing_Bistrot Les Amis - RJ // 30.0814 _ Winston McAnuff & Fixi (Jamaica/França) _ MIMO _Ouro Preto - MG //05.09.14 Winston McAnuff & Fixi (Jamaica/França) _ MIMO _Olinda - PE // 04.09.14 Winston McAnuff & Fixi (Jamaica/França) _ MIMO _Olinda - PE //01.10.14 Seun Kuti & Egypte 80 _ Opinião - POA  // 04.10.14 Seun Kuti & Egypte 80 _ SESC Palladium - BH   // 26.05.13 Wax Tailor - Virada Cultural Paulista Diadem - SP // 25.05.13 Wax Tailor - Virada Cultural  Paulista Americana // 03.05.2013 Orquestra Voadora - Circo Voador - RJ // 09.05.2013 Orquestra Voadora - SESC Pompeia - RJ // 01.06.2013 Orquestra Voadora - Conexão - BH //  - SP// 10.04.14 Macy Gray - Circo Voador - RJ // 11.04.2014 Macy Gray _Cine Joia - SP // 12.04.2014 Macy Gray + Wax Tailor  _ Opinião - POA // 18.04.2014 Macy Gray - BH // 19.03.2014 ZAZ _ SESC Palladium - BH // 20.03.2014 ZAZ Circo Voador - RJ // 22 & 23.03.2014 ZAZ _ SESC Pompeia  //  03.10.2014 _ Seun Kuti & Egypte 80 _ Circo Voador - RJ //  11.10.2014 _ Seun Kuti & Egypte 80 _ MIMO - Pararty - RJ // 25.09.2014 Dub Inc _ SESC Ribeirão Preto - SP //  10.07.15_Emir Kusturica & The No Smoking Orkestra_ MIMO - RJ // 26.10.19_Technobrass_Mundo Pensante - SP //  10_13 Sept ART RUA =  #festivalarteleblon // 08 - 27. 01.2013 _ O Olhar Nômade de Vincent Moon no SESC Pompeia - SP // 03.01.2013 Orquestra Voadora - SESC Ribeirão Preto - SP // 15.12.2013 André Sampaio & os Afromandigas-  NORTE COMUM - RJ // 10.11.2013 Patrice + Ed Motta +  Monique Kessous + Paulinho Moska _ Casarão Ameno Reseda - RJ // 16.11.2013 Nova Lapa Jazz _ SESC Barra Mansa - RJ // 17.11.2013 Nova Lapa Jazz _ SESC Engenho de Dentro  - RJ // 22.11.2013 Nova Lapa Jazz _ SESC Campos  - RJ // 29.11.2013 Nova Lapa Jazz _ SESC Teresópolis  - RJ // 01.10.2012 Nosfell _ Theatre Rival - RJ // 13.09.2012 Abayomy Afrobeat Orquestra part. Bnegão - Cultural - JF //   14.10.2012 Abayomy Afrobeat Orquestra part. Bnegão - Circo Voador - RJ //  14.10.2012 Abayomy Afrobeat Orqestra part. André Abujamra - SESC Pompeia  - SP // 09.08.2012 Orquestra Voadora - Cultural - JF // 17.08.2012 Abayomy Afrobeat Orquestra - FAM - Ribeirão Preto // 22 & 23.09.2012 Nova Lapa jazz _ Festival Jazz Leblon // 28.07.2012 Abayomy Afrobeat Orquestra _ Rival + Tarde - RJ // 25.01.2012 Orquestra Voadora - Baile Perfumado - PE // 02.11.2011 Orquestra Voadora - METAIS PESADOS - SESC Barra - mans -  Cine Joia // Studio SP // Studio RJ // Baixo Augusta //… e muito mais.</p>
