      <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1671897056/MYZIK/Zaz2_owregb.png);">
          <h1>ZAZ</h1>
          <!-- <p> BRINGING THE NETWORK TO LIFE AND  GROWING YOUR PROJECTS.</p> -->
            <p> ÚNICA APRESENTAÇÃO NO BRASIL</p>
            <p> 14 DE ABRIL 2023 </p>
             <p> ESPAÇO UNIMED - SP  </p>
          <%= link_to "https://sales.ticketsforfun.com.br/#/event/zaz", class: "btn btn-flat", target: "_blank" do  %>
           <i class="fas fa-ticket-alt"></i> | Tickets For Fun 
          <% end %>
    </div>
   
