
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/greengoagency/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/GreenGoAgency"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="footer-copyright">
      This app is made with heart by Numama
    </div>
  </div>

