<div class="cards justify-content-center ">
  <%= link_to new_user_registration_path do  %>
  <div class="card-market">
    <img src="https://res.cloudinary.com/numama/image/upload/v1643025872/MYZIK/musician_doizf2.png" />
    <div class="card-market-infos">
      <div>
        <h2>BAND | MUSICIAN</h2>
        <p> Early Bird - Free Registration </p>

      </div>
      <!-- <h2 class="card-market-pricing"> <%# if user_signed_in? && current_user.identity.market == 'KIGALI | 12 to 14 Dec 2021' %> <span class="text-success">Registered</span> <%# else %>  <span class="text-danger">Not Registered</span>  <%# end %> -->
      <img src="https://res.cloudinary.com/numama/image/upload/v1634741327/DISCOP/icon_fla_rwanda_qqpt96.png" class="card-market-user avatar-bordered" />
    </div>
    </div>
    <% end -%>

<%= link_to new_user_registration_path do  %>
  <div class="card-market">
    <img src="https://res.cloudinary.com/numama/image/upload/v1643025422/MYZIK/venue_pjghfm.png" />
    <div class="card-market-infos">
      <div>
        <h2>CASA DE SHOW</h2>
        <p>Early Bird - Free Registration</p>
      </div>
      <!-- <h2 class="card-market-pricing"> <%# if current_user.identity.market == 'DUBAI | 12 to 14 Dec 2021' %> <span class="text-success">Registered</span> <%# else %>  <span class="text-danger">Not Registered</span> -->

      <%# end %> </h2>
      <img src="https://res.cloudinary.com/numama/image/upload/v1634741327/DISCOP/iconflag_dubai_sl918e.png" class="card-market-user avatar-bordered" />
    </div>
  </div>
<% end -%>

<%= link_to new_user_registration_path do  %>
  <div class="card-market">
    <img src="https://res.cloudinary.com/numama/image/upload/v1643025891/MYZIK/festival_qxy7qg.png" />
    <div class="card-market-infos">
      <div>
        <h2>FESTIVAL </h2>
        <p>& Event Produtor </p>
      </div>
      <!-- <h2 class="card-market-pricing"> <%# if current_user.identity.market == 'DUBAI | 12 to 14 Dec 2021' %> <span class="text-success">Registered</span> <%# else %>  <span class="text-danger">Not Registered</span> -->

      <%# end %> </h2>
      <img src="https://res.cloudinary.com/numama/image/upload/v1634741327/DISCOP/iconflag_dubai_sl918e.png" class="card-market-user avatar-bordered" />
    </div>
  </div>
<% end -%>

<%= link_to new_user_registration_path do  %>
  <div class="card-market">
    <img src="https://res.cloudinary.com/numama/image/upload/v1643025881/MYZIK/services_m2i7ss.png" />
    <div class="card-market-infos">
      <div>
        <h2>SERVICES </h2>
        <p>PR | STAGE | COMMUNICATION | LABEL</p>
      </div>
      <!-- <h2 class="card-market-pricing"> <%# if current_user.identity.market == 'DUBAI | 12 to 14 Dec 2021' %> <span class="text-success">Registered</span> <%# else %>  <span class="text-danger">Not Registered</span> -->

      <%# end %> </h2>
      <img src="https://res.cloudinary.com/numama/image/upload/v1634741327/DISCOP/iconflag_dubai_sl918e.png" class="card-market-user avatar-bordered" />
    </div>
  </div>
<% end -%>
</div>
