<ul>
  <li>nome do evento</li>
  <li>local do evento</li>
  <li>data do evento</li>
  <li>horario previsto pelo show </li>
  <li>release do evento</li>
  <li>line up previsto do evento</li>
  <li>Proposta valor caché colocado</li>
</ul>
