<div class="container">


<div class="flex-simboles">

  <div class="case-simbole">
    <div class="simbole">
       <i class="fas fa-users-cog">  </i>
    </div>
    <div class="simbole-text">
      <h1>CONNECTING PEOPLE</h1>


    </div>
  </div>
       <!-- <p>Gestão de contatos</p> -->
 <div class="case-simbole">
    <div class="simbole">
       <i class="fas fa-bullhorn">  </i>
    </div>
    <div class="simbole-text">
      <h1>BETTER COMMUNICATION</h1>

    </div>
  </div>

  <div class="case-simbole">
    <div class="simbole">
       <i class="fas fa-rocket">  </i>
    </div>
    <div class="simbole-text">
      <h1>PROJECTS DEVELOPEMENT</h1>
    </div>
  </div>

 <div class="case-simbole">
    <div class="simbole">
       <i class="fas fa-compass">  </i>
    </div>
    <div class="simbole-text">
      <h1>TOUR MANAGEMENT</h1>
    </div>
  </div>

 <div class="case-simbole">
    <div class="simbole">
       <i class="fas fa-file-signature">  </i>
    </div>
    <div class="simbole-text">
      <h1>EASY </h1>
      <h1>ADMINISTRATION</h1>
    </div>
  </div>

</div>
</div>
