.c-dropdown {
  &-button {
    white-space: nowrap;
    background: $danger;
    color:white;
    border: none;
     @media screen and (max-width: 995px) {
      font-size: 16px;
       }

  }
  &-list {
    display: none;
    position: absolute;
    background: $danger;
    color:white;
    transform: translateY(10px);
    padding: 8px;
    @media screen and (max-width: 995px) {
      position: relative;
      &.active {
       row-gap: 2ch !important;
       background: transparent;
       & .c-dropdown-item {
        background: $danger;
       }
      }

    }
    &.active {
      display: grid;
      row-gap: 1ch;

    }
  }
  &-item {
    list-style-type: none;
    &:hover {
      background: darken($danger, 15%)
    }
    @media screen and (max-width: 995px) {
      gap: 2ch;
    }

    a {
      color:green;
    }

  }
}
