


.red_title {
  background-color: #DA2B55;
  color:white;
  font-size: 40px;
  margin-bottom: none;
}
.green_title {
  background-color: green;
  color:white;
  font-size: 40px;
  margin-bottom: none;
}
